<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Assignment_servlet3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Signup</servlet-name>
  	<servlet-class>com.auca.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
</servlet-mapping>

  <servlet>
  <servlet-name>MyRegisterServlet</servlet-name>
  	<servlet-class>com.auca.Register</servlet-class>
  </servlet>
  
 <servlet-mapping>
    <servlet-name>MyRegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
</servlet-mapping>

<filter>
	<filter-name>RegisterFilter</filter-name>
	<filter-class>com.auca.RegisterFilter</filter-class>

</filter>

<filter-mapping>
	<filter-name>RegisterFilter</filter-name>
	<url-pattern>/RegisterFilter</url-pattern>
</filter-mapping>
 
<session-config>
	<session-timeout>30</session-timeout>
</session-config>
</web-app>